
iframe {
    
    width: 100%;
    border: none;   
}

article{
    
    padding-top: 70px;
}

div.container {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f8f8f8e0;
    border-radius: 5px;
    padding-bottom: 20px;
}

footer{
    
    height: 100px;
}

body{
    
    background-image: url(resources/img/academia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-horizontal {
  
    padding-top: 25px;
    padding-bottom: 25px;
}

ul{
    
    padding-top: 5px;
    
}

label{

    font-weight: 300 !important;
    color: #777;
    padding-right: 0px !important; 
    
/*
    background-color: #77777759;
    color: white;
    border-radius: 3px;
*/
    
}

.salvar {
    
width: 100%;
    
}

.navbar-default{
    
    background-color: #f8f8f8e0 !important;
    
    
}

li a{
    
     color: #777;
}

li.active a{
    
     background-color: #777 !important;
}

.copy{
    
    color: #777;
}

div .form-group div{
    
     padding-left: 5px !important; 
}




header#navbar {
    background-color: #f8f8f8e0;
}


footer.footer.container {
    background-color: #f8f8f8e0;
    width: 100%;
	height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
	text-align: center;
}

.main-container.container {
    margin-bottom: 70px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #f8f8f8e0;
	
	
	
}


body{
	
	background-image: url(../img/academia.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100%;
	height:auto;
	
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #777;
}

.navbar-default .navbar-nav > a:hover {
    color: white;
    background-color: #777;

}

nav > ul > li > a:hover {
	
	background-color: #5cb85c !important;
	color: white !important;
	
}

.navbar {
    
    border: none;
}

.portal-cliente {
    float: right;
}

.portal-cliente {
    float: right;
    color: white;
    background-color: #5cb85c;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;   
    margin-top: 14px;
}


.portal-cliente > a {
    color: white!important;
    text-decoration: none!important;
}

.icones > img{
	height:20px
	
	
	
}

.rodape {
    padding-bottom: 10px;
}

.rodape > a {
    color: black!important;
    text-decoration: none!important;
	    font-weight: bold;
}

a.icones {
    padding-left: 10px;
}

.rodape > a >img {
	
	padding-right: 5px;
	
}

.copy {
    font-size: 11px;
}




section#block-views-sobre-block > h2.block-title , section#block-views-pacotes-block > h2.block-title {
    background-color: #777;
	color: white;
	border-radius: 7px;
	
}


section#block-block-5 > h2.block-title {
   float: left;
	
}



section#block-views-sobre-block > h2.block-title , section#block-views-pacotes-block > h2.block-title , section#block-views-fotos-block > h2.block-title   {
    background-color: #777;
	color: white;
	border-radius: 7px;
	text-align: center;

}

section#block-block-3 {
    margin-top: 50px;
}


section #block-views-sobre-block, section #block-views-midias-block, section #block-views-pacotes-block { 
    /* float: left; */
    /* text-align: center; */
    /* margin-left: 19px; */
    /* width: 100%; */
}


.views-field.views-field-field-imagem-sobre {
    float: left;
    width: 50%;
}

.preenchimento {
    float: left;
    width: 50%;
    text-align: justify;
	    padding: 15px;
		background: none;
}

div#views_slideshow_cycle_teaser_section_fotos-block_1 > div {
	
	
}

.views-field.views-field-field-imagem {
    float: left;
    width: 50%;
}

/*

@media (min-width: 100px){
section #block-views-sobre-block, section #block-views-midias-block, section #block-views-pacotes-block {
    
    width: 92%;
	
}
}

@media (min-width: 768px){
section #block-views-sobre-block, section #block-views-midias-block, section #block-views-pacotes-block  {
    
    width: 45%;
	
}


}

@media (min-width: 960px){
section #block-views-sobre-block, section #block-views-midias-block, section #block-views-pacotes-block  {    
   width: 92%;
	}
}
*/

section#block-block-1 {
    width: 100%;
}

button#edit-submit {
    color: white;
    background-color: #5cb85c;
}

div#edit-actions {
    text-align: center;
}


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
   
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field-content {
    padding-bottom: 20px;
}



section#block-instagram-block-instagram-block > h2.block-title {
    float: left;
  background-color: #777;
	color: white;
	text-align: center;
	border-radius: 7px;
    width: 100%;
}

div#widget_pager_bottom_fotos-block_1{
        width: 48.7%;
    text-align: center;
    background: #000000a3;
    
    position: absolute;
    z-index: 40;
        margin-top: -40px;
    
}

.texto_imagem {
    height: 280px;
    width: 280px;
    float: left;
    z-index: 10;
    margin-right: 0px;
    position: relative;
    /* display: none; */
}
.imagem_instagram {
    height: 280px;
    width: 280px;
    float: left;
    position: relative;
    z-index: 1;
    /* margin-left: -280px; */ 
}

.texto_imagem: hover {
    background-color: red;
    opacity: 0.1;
}

.fundo_imagem > a {
   
margin-left: -280px;
   
position: relative;
   
float: left;
   
/* display: none; */
}




.nav>li>a:focus, .nav>li>a:hover {
        background-color: #5cb85c !important;
    color: white !important;
}

.row {
    padding: 1px 20px 1px 20px;
}

.espacotop {

    padding-top: 30px;

}

.titulo {

    text-align: center;

}

.alinharCentro {
    text-align: center;
}


.row.antropometria > table {
    padding-bottom: 36px;
    
    margin-bottom: 25px;
}

#formCompo, #formVo,#formPres {
    width: 100%;
}

.cadastro {
   height: 30px;
}
.alinharright {
    text-align: right;
}

.alinharleft {
    text-align: left;
}



.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 0.7;
    
    
}