.paginaFundo {
	background-color: #E9E9E9;
	margin: 0 auto;
}

.paginaFrente {
	width: 1340px;
	min-height: 750px;
	position: relative;
	background-color: #FFFFFF;
	margin: 0px auto auto auto;
}

.titulo {
	margin-top: -60px;
}

#list {
	margin-left: 243px;
	margin-top: 56px;
}

#tituloList {
	margin-left: 338px;
	margin-top: 117px;
}

#listBotao {
	margin-left: 242px;
	margin-top: 22px;
}

.rodaPe {
	bottom: 0px;
	width: 100%;
	margin-left: 2px;
	border-top: 1px solid #ddddde;
	padding: 10px 0 15px 0;		
}

.rodaPe p {
	margin: 0;
	padding: 0;
	line-height: normal;
}

.rodaPe .lf {
	float: left;
}

.rodaPe .rf {
	float: right;
}

.rodaPe,.rodaPe a {
	color: #828484;
	text-decoration: none;
	font-size: 10px;
}

.rodaPe a:hover {
	text-decoration: none;
}

.fundoLogo {
	background-color: #00985C;
	height: 50px;
}

#Logo {
	float: left;
	margin: -69px 0 0 59px;
	position: absolute;
	width: 200px;
}

#topo h5 {
	margin: 1px 15px 0px 0px;
	width: auto;
	color: #FFFFFF;
	text-align: right;
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 0.1em 0.1em #333;
}

#topo {
	background-color: #F5781E;
	border-bottom: 2px solid #E0E0E0;
	height: 17px;
	margin-top: 0px;
	margin-top: 54px;
}

.titulo legend {
	margin: 70px 0px 0px 25px;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	width: 500px;
}

.formularioCorpo {
	width: 66%;
	height: 836px;
	margin: 50px auto 100px auto;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.form-horizontal .formularioCentro {
	float: left;
	width: 97%;
	margin: 40px 0px auto 1%;
	font-size: 10px;
}

.form-group .col-sm-5 {
	width: 500px;
}

.form-horizontal #dataHoraInicial label control-label {
	width: 112px;
}

.form-horizontal #dataHoraFinal label control-label {
	width: 112px;
}

.label,.glyphicon {
	margin-right: 5px;
}

#bs-example-navbar-collapse-1 .dropdown-toggle {
	color: #00985C;
}

#subTopo {
	background-color: #F3F3F3;
	height: 50px;
}

/*---------------------------------------------------*/

/* Tela de Login */
.ui-messages-warn ul {
	list-style: none;
}

.ui-messages-warn-summary {
	color: red;
	font-weight: bold;
	margin: 0 .5em 0 0;
	vertical-align: top;
	font-size: 14px;
	margin-left: 60px;
}

.container {
	min-height: 730px;
}

#logoLogin {
	height: 10px;
	margin-top: 10px;
	margin-left: 30px;
}

.row {
	margin-top: 65px;
}

.container .row #loginCentro {
	height: 500px;
	width: 400px;
	margin-top: 90px;
	background-color: #F7F7F7;
}

#imagemLogin {
	height: 100px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
	border-radius: 260px 260px 260px 260px;
}

.formularioLogin {
	margin-top: 80px;
}

.panel-heading .panel-title {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#botaoLogar {
	margin-top: 35px;
}

label.error {
	float: none;
	color: red;
	margin: 0 .5em 0 0;
	vertical-align: top;
	font-size: 10px
}

/*---------------------------------------------------*/

/* Pagina Requisição de Folga 
Analista: Charleston Campos
Data: 28/07/2014 */
.form-group .col-sm-5 {
	margin-left: 100px;
	width: 500px;
}

#data {
	width: 635px;
	margin-left: 98px;
}

#checkBoxDia {
	margin-left: 490px;
	margin-top: -76px;
	font-size: 14px;
}

#enviarSolicitacao {
	margin-left: 355px;
}

/*---------------------------------------------------*/

/* Pagina Relatórios
Analista: Charleston Campos
Data: 28/07/2014 */
#dataRelatorio {
	margin: 0px 0px 0px 86px;
}

#gerarRelatorio {
	margin: 42px 0px 0px 418px;
}

#tabelaRelatorio {
	width: 800px;
	margin: 345px auto 0px auto;
}

/*---------------------------------------------------*/

/* Pagina Classificar Folgas
Analista: Charleston Campos / Rafael Silva
Data: 31/07/2014 */
#folgaForm {
	width: 1250px;
	min-height: 455px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 90px;
}

#botoesAcao {
	margin-top: 10px;
}

/*---------------------------------------------------*/

/* Pagina Editar Folgas
Analista: Charleston Campos / Rafael Silva
Data: 31/07/2014 */
#formEditar {
	margin-left: 12%;
	margin-top: 70px;
}

.formularioCorpoEditar {
	width: 66%;
	height: 700px;
	margin: -200px auto 100px auto;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

/*---------------------------------------------------*/

/* Pagina Folgas Agendadas
Analista: Charleston Campos / Rafael Silva
Data: 31/07/2014 */
.value {
	width: 900px;
}

#calendario {
	margin-top: 50px;
	margin-left: 18%;
	margin-bottom: 100px;
}

.fc-event {
	border: 1px solid #00985C;
	background-color: #00985C;
}

.botaoInicial {
	margin-left: 700px;
	margin-top: 300px;
}
/*---------------------------------------------------*/

/* Pagina Relatorio Presador
Analista: / Rafael Silva
Data: 31/07/2014 */
#ordenacao {
	margin-left: 26%;
	margin-top: 5%;
}

/*---------------------------------------------------*/
/* Pagina Relatorio
Analista: / Tliner Friaça
Data: 28/05/2015 */
.acordion {
	border: 1px solid #7096AB;
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.4)) repeat scroll 0% 0% #85B2CB;
	font-weight: bold;
	color: #1C4257;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

.Iparto {
	border: 1px solid #FFF;
	background: none repeat scroll 0% 0% #FFF;
	color: #4F4F4F;
}

#DadosPessoais {
	width: 95%;
	height: 210px;
	margin: 22px auto 3px;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}

.titulo {
	font-family: initial;
	font-size: 132%;
	color: #787B7B;
}

/*--------------------------Alterando Primefaces-------------------------*/
#tabPrimefaces {
	border: 1px solid #A8A8A8;
	background: #FFF;
	font-weight: bold;
	color: #4F4F4F;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	border: 0px none;
	width: 95%;
	margin-left: 33px;
}

.tabPrimefaces {
	border: 1px solid #A8A8A8;
	background: #FFF;
	font-weight: bold;
	color: #4F4F4F;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	border: 0px none;
	width: 95%;
	margin-left: 33px;
}

.ui-accordion .ui-accordion-header.ui-state-default {
	margin-bottom: 2px;
	border: 1px solid #B9B4B4;
}

.ui-accordion .ui-accordion-header.ui-state-default a {
	padding: 8px 15px;
	color: #505056;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	border-color: #BFBBBB #BFBBBB #BFBBBB;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
	{
	color: #FFF;
	text-decoration: none;
	background-color: #0081C2;
	background-position: 0px center;
	background-image: linear-gradient(to bottom, #00985C, #3F7A40);
	background-repeat: repeat-x;
}

#mensagem {
	width: 27%;
	margin-left: 56%;
	position: absolute;
	margin-top: 25px;
	margin-left: 56%;
}

/* .ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	color: #333;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
	font-weight: 700;
} */
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled
	{
	color: #333;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
	opacity: 0.65;
	background: none repeat scroll 0% 0% #EEE;
}

.ui-widget-overlay {
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.42);
	opacity: 0.8;
}

input[type="checkbox"],input[type="radio"] {
	margin: 4px 4px 0px;
	line-height: normal;
}

.botao-sucesso {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	color: #FFF;
	background-color: #5CB85C;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

